body {
    background-color: rgb(211, 211, 211);
    color: rgb(32, 32, 32);
    margin: 0;
    font-family: sans-serif;
}

.header {
    position: fixed;
    width: 100%;
    background-color: rgb(22, 22, 22);
    margin: 0;
    color: antiquewhite;
}

.nav li {
    display: inline-block;
    margin-right: 50px;
}

.nav ul {
    text-align: center;
}

.nav li a {
    text-decoration: none;
    color: rgb(209, 209, 209);
}

nav li a:hover {
    color: rgb(65, 65, 65);
}

h1 {
    text-align: center;
    /* color: rgb(192, 192, 190); */
}

h2 {
    text-align: center;
}

.artigo {
    width: 75%;
    /* background-color: rgb(80, 102, 94); */
    padding: 5px;
    margin-left: 0;
    /* border: solid 2px gray; */
    /* color: rgb(172, 172, 172); */
    margin-top: 140px;
}

#nome {
    font-style: italic;
}

#imagem {
    float: left;
    width: 350px;
    margin: 0 10px 5px 0;
    border: solid 3px gray;
}


.main {
    display: flex;
    margin-left: 20px;
}

.links {
    text-align: center;
    width: 15%;
    padding: 5px;
    background-color: rgb(19, 20, 15);
    margin-left: 50px;
    margin-top: 220px;
    height: fit-content;
    /* border: solid 2px gray */
    color: rgb(211, 200, 185);
    border-radius: 10px
}

footer {
    text-align: center;
    /* color: rgb(206, 214, 221); */
    font-size: 13px;
}

aside a {
    color: rgb(188, 196, 196);
    text-decoration: none;
    background-color: brown;
    padding: 2px;
    border-radius: 3px;
}

aside a:hover {
    background-color: rgb(216, 68, 68);
}
